.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: rgb(211, 12, 211);
  padding: 10px;
  cursor: pointer;
}

.inputOption:hover {
  color: rgb(105, 6, 105);
  background-color: rgb(255, 230, 227);
  border-radius: 10px;
}

.inputOption > h4 {
  margin-left: 5px;
}
