.login {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 75px;
}

.login > img {
  object-fit: contain;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #d200d2;
  background-color: #53a9ff;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.login__register {
  color: #0177b7;
  cursor: pointer;
}

.login__p {
  margin-top: 20px;
}

.login__guest {
  background-color: #d200d2;
  border-radius: 10px;
  padding: 4px;
  border: 1px solid black;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  font-weight: 900;
  margin-top: 5px;
}

.login__guest:hover {
  background-color: #e000e0;
 }

.login__guest > p {display: flex; }
